.table th{ 
	text-align: center; 
	height:38px;
}

.center{
   margin: auto;
   position: absolute;
   left: 0;
   right: 0; 
   top:0;
   bottom:0;
}

.cla1 {
	FONT-SIZE: 12px;
	COLOR: #4b4b4b;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

.login_msg {
	font-family: serif;
}

.login_msg .msg {
	background-color: #0000ff;
	width: 150px;
}

.login_msg .btn {
	background-color: #80ffff;
	width: 150px;
	font-size: 15px;
	font-family: ¿¬Ìå;
}